mlflow==2.16.0
fastapi==0.110.0
uvicorn[standard]==0.29.0
pydantic==2.7.1
pandas==2.2.2
polars==1.6.0
scikit-learn==1.5.0
lightgbm==4.3.0
catboost==1.2.7
pyyaml==6.0.1
psycopg2-binary==2.9.9
requests==2.32.3
SQLAlchemy==2.0.30
joblib==1.4.2
autogluon.tabular==1.1.1