# Core ML frameworks
autogluon.tabular==1.1.1
lightgbm==4.3.0
catboost==1.2.5

# MLflow and experiment tracking
mlflow==2.16.0

# Data processing
pandas==2.2.2
polars==0.20.0
numpy==1.26.4

# ML utilities
# autogluon ile uyumluluk için scikit-learn versiyonu düşürüldü.
scikit-learn==1.4.0

# API (if needed)
fastapi==0.109.0
uvicorn[standard]==0.27.0
pydantic==2.6.0

# Other utilities
python-multipart==0.0.6

#mlops for regression
evidently == 0.4.18
bandit==1.7.8
safety==3.1.0
modelscan==0.8.1
cyclonedx-bom==5.1.1